---
title: AfD
layout: base.njk
tags: page
background-color: {{ background-color }}
quote_svg: true
---

<h1 class="py-12 pt-24 text-center bg-gradient-to-r from-afd-blue to-afd-gradient-second ">
    <span class="text-8xl font-bold text-transparent bg-clip-text text-white">
        {{ title }}
    </span>
</h1>

    <span class ="p-5">Aus dem Parteiprogramm</span>
<section class="m-5 max-w-2xl flex flex-col items-center">
    
    {% if quote_svg %}
    <blockquote class="text-xl italic font-semibold text-gray-900 m-10">
        <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
            <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
        </svg>
        Der gemeinsame EURO ist eine grundlegende Fehlkonstruktion. Aus der Währungsunion entwickelte sich zwangsläufig eine Schuldenunion.
    </blockquote>
    {% endif %}
    {{ content|safe }}
</section>



  <section class="m-10 max-w-screen-sm items-start">
    <h2 class="text-5xl my-6">Und jetzt?</h2>
    <p>Du kannst deine lokalen Politiker fragen, wie sie zu den Themenbereichen stehen. <br/>
    Du kannst es aber auch selbst in die Hand nehmen. Es ist befreiend, mehr Kontrolle seiner eigenen Finanzen bewusst zu sein, ist aber auch mit Risiken verbunden.<br/>
    Sei dir bewusst, dass es Interessengruppen gibt, die Bitcoin auf gar keinen Fall wollen. Sei dir auch bewusst, dass auch ich gewisse Interessen verfolge.</p>
		</section>

{% include "navigation.njk" %}